# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs and cache
*.log
*.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# MyPy, coverage, etc.
.mypy_cache/
.coverage
coverage.xml

# OS files
.DS_Store
Thumbs.db

# Large model files
*.h5
